<p style="color: green"><%= notice %></p>

<div style="float: right;margin:50px;">
  <button type="button"  class="btn-secundary"> <%= link_to "Editar", edit_article_path(@article) %> </button>
  <button type="button"  class="btn-secundary"> <%= link_to "Voltar", articles_path %></button>
</div>

<%= render @article %>

<p><strong>Lista:</strong> <%= @article.list %></p>

<%= button_to "Deletar", @article, method: :delete %>


